 body {
     min-height: 100vh;
     display: grid;
     grid-template-rows: auto 1fr auto;
 }

 img.img-fluid {
     max-width: 150px;
 }

 h1 {
     font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif, 'Arial Narrow', Arial, sans-serif;
 }

 @media (min-width: 600px) {
     .title-author-row {
         display: flex;
         gap: 15px;
     }

     .title-author-row .form-group {
         flex: 1;
     }
 }